.main{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*
    float: left;
    text-align:center;*/

}

header{
    width: 100%;
    display: block;
}
.busqueda{
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.items{
    background-color: rgb(11, 11, 46);
    max-width: 500px;
    margin: 5px;
    padding: 20px;
    /*display: flex;*/

}

